.App {
  text-align: center;
}

.rectangle-radius{
  border-top-left-radius: 5% 15%;
  border-bottom-right-radius: 5% 15%;
  border-top-right-radius: 5% 15%;
  border-bottom-left-radius: 5% 15%;

}

.icon-center-vertically{
  margin-block:auto;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.modal-simple {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-height: 80vh;
    box-shadow: 24;
    padding: 4
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
